-
  const data = {
    title: 'ПОРТФОЛИО',
    link: {
      href: '#',
      text: 'Смотреть портфолио'
    },
    cardList: [
      {
        src: 'assets/images/slide_1.png',
        title: 'Домашний кинотеатр с изюминкой',
        desc: 'В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем. ',
      },
      {
        src: 'assets/images/slide_2.png',
        title: 'Роскошный автомобиль с «умным салоном»',
        desc: 'Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!',
      },
      {
        src: 'assets/images/slide_3.png',
        title: 'Гостиная-кинотеатр',
        desc: 'Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.',
      },
      {
        src: 'assets/images/slide_4.png',
        title: 'Кинотеатр на крыше',
        desc: 'Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома  и не имеет окон.',
      },
    ]
  }
